# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/

# Node / Vite (Frontend)
node_modules/
dist/
dist-ssr/
*.local

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# EdgeVision specific
reports/
uploads/
best.pt
